:root {
  --main-color: #AC20FF; 
  --second-color: #FF4D00;  
}

.black{color: black !important}
.blue{color: blue}
.green{color:green;}
.yellow{color: #ffdd00;}
.white{color: white !important} 
.red{color: red}
.wine{ color: rgba(201,3,68,1) }
.earth{ color: rgb(208,171,122)  }
.gray{color:#ccc !important;;}
.default_color{color:#00A2B8 !important}
.purple{color: #6f42c1 !important}

.black-bg{background: black}
.blue-bg{background: blue;}
.yellow-bg{background: #ffdd00;}
.green-bg{background: green;}
.white-bg{background: white !important} 
.gray-bg{background: #eee}
.lead-bg{background: #ddd}
.wine-bg{background: rgba(201,3,68,1)}
.fb-bg{background-color: #3b5999}
.lead-bg{background-color: #f3f3f3}
.earth-bg{ background: rgb(208,171,122)  }
.lightblue-bg{ background: #428bca }
.red-bg{background: #6C000A}
.purple-bg{background: #6f42c1 !important}

.PEN:before{ content:"S/ "; }
.USD:before{ content:"$ "; }
.EUR:before{ content:"€ "; }

.shadow{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}
.bold{
	font-weight: bold;
}