.select2-results{
	background: #FFF1BA !important
}

.PEN:before{ content:"S/ "; }
.USD:before{ content:"$ "; }
.EUR:before{ content:"€ "; }

#form_reg_document .form-control-sm{
	width: 100% !important;
	border: #ccc solid 1px !important;
}


.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #FFF1BA;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	max-height: 200px;
	overflow: auto;;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
  }
  
  .ui-autocomplete > li > div {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
  }
  
  .ui-state-hover,
  .ui-state-active,
  .ui-state-focus {
	text-decoration: none;
	color: #fff !important;
	background-color: #FF6600;
	cursor: pointer;
  }
  
  .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }
  
  .ui-autocomplete-loading{ background: url("../img/loader_image.gif") no-repeat right center }