:root {
  --fac-color-orange:#FF6600;
  --fac-color-orange-hover: #FF4D00;
  --fac-color-purple:#AC20FF;
}

.doc-title{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top:50px;
}

.sunat{
    color: var(--fac-color-orange) !important;
}
.sunat:hover{
    color: var(--fac-color-purple) !important;
    text-decoration: none;
}

.add{
    color: var(--fac-color-purple) !important;
}
.add:hover{
    color: var(--fac-color-orange) !important;
}

.doc-one{
    position: relative;
    width: 100%;
    height: 100%;

}

.btn-quantity{
    width:33px;
    border-color:#cccccc !important;
    background-color: #cccccc!important;
}

.btn-quantity:hover{
    width:33px;
    border-color:var(--fac-color-purple)!important;
    background-color: var(--fac-color-purple)!important;
}   


.doc-two{
    width: 100%;
    height: 100%;
}


.direction{
    text-align: center;
}

/* //table// */
.options{
    position:absolute;
    width:180px;
    right:0px;
    z-index:100;
    border:1px solid #ccc;
    background-color:#fff;
}

.options{
    border:1px solid #ccc;
    text-align:left;
    font-size:16px;
    padding:10px 2px;
    list-style:none;
}

.options>li>i{
    display:inline-block;
    width:30px;
    text-align:center;
}

.options>li>a{
    display:inline-block;
    color:black !important;
}

.options>li>a:hover{
    text-decoration: none !important;
    color:orange !important;
}

.question-title{
    color:var(--fac-color-purple);
}

.business-container{
    position:absolute;
    top:50px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--fac-color-purple);
    border-top: floralwhite solid 1px;
    justify-content: space-between;
}

.business-title{
    padding: 0 10px;
    color:#fff;
    font-size:12px;
    text-transform: uppercase;
}

.environment span{
    margin: 0 5px;
    padding: 10px 8px;
    border-radius: 5px;
}

.btn-suc{
    background-color: white !important;
    font-size:8px !important;        
}

.fom-dates{
    display: block;
}

.none{
    display: none !important;
}


@media(min-width: 951px){
    .none{
        display: block !important;
    }
}

@media(min-width: 768px){
    .container-doc{
        display: flex;
        justify-content: space-between;
    }

    .doc-title{
        margin-top: 0px;
    }
    .doc-one{
        width: 60%;
        padding-right: 50px;
    }

    .doc-two{
        width: 40%;
    }

    .date{
        margin-left:5px;
    }

    .add{
        margin-top:0px
    }

    .direction{
        text-align: right;
    }

    .permission_list_item{
        display:inline-block;
        margin:2px;
        padding:2px 6px;
        background-color:#777;
        color:#fff;
        font-weight:bold;
        font-size:12px;
    }

    .permission_list_item:hover{
        background-color:#333;
    }

    .business-container{
        position: relative;
        top:0px;
        border-top:none;
    }

    .business-title{
        font-size:24px;
    }

    .btn-suc{
        font-size:14px !important;        
    }

    .fom-dates{
        display: inline-flex;
    }

    .m-left-10{
        margin-left: 10px;
    }

}

@media(min-width: 1024px){}










input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.fa.fa-lock{margin-left:10px;font-size:20px;}
.modal[id^=modal_]>.row{min-height:100%;}

table .fa.fa-lock{color:#333;margin-left:0px !important;font-size:inherit !important;}
table .fa-pencil, table .fa-eye{color:#00a;}
table .fa-trash, table .fa.times{color:#a00;}
table td:last-child a:not(:last-child){margin-right:5px;}

/* NAV */
.doc-title>*>*{margin-right:10px;}
.doc-title>*>*:last-child{margin-right:0px;}
.doc-title>*>form{display:inline-block;}

.filter{border:1px solid #ccc;margin-right:10px;height:37px;}
.filter:last-child{margin-right:0px;}
input.filter, select.filter{background-color:#fff;}
button.filter{background-color:#ccc;}
form:not(:last-child){margin-right:10px;}
