:root{
    --fac-morado: #AC20FF;
}


*{
    padding: 0;
    margin: 0;
    display: block;
}

html{
    overflow:hidden ;
}

.login{ 
    background-color:white;
    width: 100%;
    height: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif !important; 
}

.title-login{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif !important; 
    color: var(--fac-morado);
    text-align: center;
}

.container-login{
    margin: 0 auto;
    padding:60px 50px;  
    display: block;
}


.divsito{
    display: flex;
    flex-wrap: wrap;
}

span{
    float: left;
    transform: translateY(12px);
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.password{
    margin-bottom: 10px;
}

.btn-into{
    background-color:transparent;
    border: 2px solid var(--fac-morado);
    background-color: var(--fac-morado);
    border-radius: 6px;


    color:#ffff;
    font-size:18px;
    margin: 0 auto;
    margin-top:15px;
    
    padding: 10px;
    letter-spacing: 2px;    
    font-weight: bold;
}

.btn-into:hover{
    background-color: var(--fac-morado);
    transition: 0.3s;
    color:#ffff;
    opacity: 0.9;
    cursor: pointer;
}

.container{
    margin: 0 auto;
}

.container-captcha img{
    top:-10px;
    width: 50%;
    height: 40px;
    margin: 0 auto;
}

#captchaWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#captchaWrapper>input[type="text"]{
    width: 50% !important; 
    margin-left:30px;
}

#captchaWrapper div{
    width: 30px; 
    height: 40px; 
    background:#bbb;
    float: right;
    transform: translate(10px, 18px);
    padding: 5px;
    border-radius: 5px;
}

#captchaWrapper a{
    text-decoration:none;
    color:#fff;  
}

#captchaWrapper>a:hover{
    background:#ccc;
}

#captchaWrapper:after{
    content:"";
    display:table;
    clear:both;
}


@media(min-width: 768px){
    .main_fund{
    display: flex;
    flex-basis: 0;
    flex-wrap: wrap;

    }
    .fund::before{
        content:'';
        width: 50%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        background:var(--fac-morado);
        opacity: 0.5;
    }

    .fund{
        background-image: url(../img/login/fund_fac.jpeg);
        background-size: cover;
        height: 100%;
        height: 100vh;

        width: 50%;
        padding: 20px;
    }

    .login{ 
        width: 50%;
    }

    .container-login{
        padding: 50px 50px 0 50px;
    }

    .container-captcha img{
        height: 55px;
    }
}

@media(min-width: 1024px){
    .container-login{
        padding: 120px 120px 0 120px;
    }
}