  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>¡¡ Tenemos nuevos cambios - 04/03/20 !!! </b></h4>                        
                <button type="button" class="close link_close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>1. Las opciones que se activan y desactivan ahora tienen un nuevo icono </b></div>
                        <img src="../img/news/icons.png" width="400">
                    </div>
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>2. Hemos reubicado los comentarios al crear los comprobantes. Ahora podrás escribir los comentarios en líneas separadas</b></div>
                        <img src="../img/news/comments.png" width="400">
                    </div>
                    
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>3. En el menú clientes ahora se podrán crear clientes consultando a RENIEC</b></div>
                        <img src="../img/news/cliente_persona.png" width="300">
                    </div>

                    <div class="col-md-12">
                        <div><b>3. En el menú clientes ahora se podran crear clientes consultando a SUNAT</b></div>
                        <img src="../img/news/cliente_empresa.png" width="300">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary link_close_popup" data-dismiss="modal">Entendi los cambios</button>
            </div>
        </div>
    </div>
</div>