  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>¡¡ Tenemos nuevos cambios - 14/02/20 !!! </b></h4>                        
                <button type="button" class="close link_close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>1. Hemos incluido la vista de Resúmenes diarios </b></div>
                        <div>Los resúmenes son documentos válidos que generan un XML y un CDR. Te explicamos los casos de uso:</div>
                        <ul>
                            <li><b>Para declarar las boletas en lote</b>. Es decir, en lugar de enviarlas uno a uno se envían por lotes en un mismo documento. El sistema genera un resumen todos los días a las 3:00 am para enviar las boletas pendientes a SUNAT.</li>
                            <li><b>Para eliminar boletas</b>. En este caso el sistema envía una anulación por resumen. La creación de este documento es manual, y se da cuando el usuario le da clic <b>ANULAR BOLETA</b></li>                            
                        </ul>
                        <div>Los resúmenes generan un ticket. El ticket puede tener un estado de <span class="badge badge-pill badge-info">Pendiente</span> o  estado <span class="badge badge-pill badge-success">Aceptado</span>. </div>
                        <div class="m-b-lg-20">En ocasiones los servidores de SUNAT pueden tardar en aceptar los tickets. Si ya ha pasado 1 día, les recomendamos dar clic al botón <span class="badge badge-pill badge-info">Pendiente</span> para volver a enviar el ticket</div>
                        <img src="../img/news/141220/resumen_diario.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary link_close_popup" data-dismiss="modal">Entendi los cambios</button>
            </div>
        </div>
    </div>
</div>