  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>¡¡ Tenemos mejoras en tu sistema - 04/03/20 !!! </b></h4>                        
                <button type="button" class="close link_close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>1. Nuevo diseño en la venta de productos </b></div>
                        <div>A partir de ahora podrás elegir en el momento de la venta si deseas emitir boleta, factura o proforma. Antes se tenía que cambiar la ventana
                            y con eso se perdía el detalle de la venta y lo más importante ... tiempo.
                        </div>
                        <img src="../img/news/091020/seleccion_documento.png" width="100%">
                    </div>
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>2. Hemos reubicado la búsqueda de documentos en SUNAT</b></div>
                        <div>Ahora será más rápido buscar un documento en SUNAT. Si no se encuentra tendremos que registrarlo manualmente</div>
                        <img src="../img/news/091020/busqueda_sunat.png" width="400">
                    </div>
                    
                    <div class="col-md-12 m-b-lg-30">
                        <div><b>3. Búsqueda por código de barras</b></div>
                        <div>Ahora podremos alternar entre la búsqueda por nombre y por código de barras del producto</div>
                        <img src="../img/news/091020/busqueda_por_nombre.png" width="100%" class="m-b-lg-10">
                        <img src="../img/news/091020/busqueda_por_codigo_barras.png" width="100%">
                    </div>

                    <div class="col-md-12 m-b-lg-30">
                        <div><b>4. Sumatoria de ventas en reporte de ventas</b></div>
                        <div>Ahora podrán ver la suma total de los documentos consultados. Está claro que están fuera de la suma los documentos rechazados o anulados</div>
                        <img src="../img/news/091020/total_reporte_ventas.png" width="100%">
                    </div>

                    <div class="col-md-12 m-b-lg-30">
                        <div><b>5. Descripción de venta en el reporte.</b></div>
                        <div>Ahora podrán ver el detalle de lo vendido en el reporte de ventas.</div>
                        <img src="../img/news/091020/descripcion_reporte_ventas.png" width="100%">
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary link_close_popup" data-dismiss="modal">Entendi los cambios</button>
            </div>
        </div>
    </div>
</div>